.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 24px;
}

/* todo */
.nav-img {
    border: black;
}

.bar {
    display: flex;
    gap: 40px;
    font-size: 20px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.no-undr {
    color: black;
    text-decoration: none;
}

.nav-btn {
    background-color: #469165;
    border-radius: 5px;
    height: 44px;
    /* width: 164px; */
    color: white;
    border: none;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
}


/* early access */
.early-access {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    background-image: url('./assets/hero-bg.png');
    background-position: center;
    padding: 50px;
    text-align: center;
    

}

.early-open{
    background-color: white;
    gap: 5px;
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    justify-content: center;
    color: #469165;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.first-circle {
    height: 6px;
    width: 6px;
    background-color: #4D9268;
    border-radius: 50px;
}

.seconde-circle {
    height: 12px;
    width: 12px;
    background-color: #95C1A6;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-circle{
    height: 16px;
    width: 16px;
    background-color: #DAE8DE;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline {
    font-size: 72px;
    color:white;
    
}

.headline span{
    color: #30B868;
}

.early-access p {
    color: white;
}
.nav-btn.vault {
    display: inline-flex;
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
    padding: 12px 20px; 
    border-radius: 6px;         
    background-color: #4D9268;  
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.button-grp{
    display: flex;
    gap: 16px;
    align-items: center ;
    justify-content: center;
}

.transparent {
    background-color: transparent;
    height: 44px;
    width: 198px;
    border-radius: 5px;
    border-color: white;
    color: white;
    
}




