.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}
/* todo */
.nav-img {
    border: black;
}

.bar{
    display: flex;
    gap: 40px;
    font-size: 20px;
    list-style: none;
    align-items: center;
}
.no-undr {
    color: black;
    text-decoration: none;
}

.nav-btn {
    background-color: #469165;
    border-radius: 5px;
    height: 44px;
    width: 164px;
    color: white;
    border: none;
    font-weight:600;
}