/* font */

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}


.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 24px;
}

/* todo */
.nav-img {
    border: black;
}

.bar {
    display: flex;
    gap: 40px;
    font-weight: medium;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.no-undr {
    color: black;
    text-decoration: none;
}

.nav-btn {
    background-color: #469165;
    border-radius: 5px;
    height: 44px;
    /* width: 164px; */
    color: white;
    border: none;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
}


/* early access */
.early-access {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    background-image: url('./assets/hero-bg.png');
    background-position: center;
    padding: 50px;
    text-align: center;


}

.early-open {
    background-color: white;
    gap: 5px;
    width: 270px;
    height: 35px;
    border-radius: 1000px;
    justify-content: center;
    color: #469165;
    display: flex;
    align-items: center;
    justify-content: center;


}

.first-circle {
    height: 6px;
    width: 6px;
    background-color: #4D9268;
    border-radius: 50px;
}

.seconde-circle {
    height: 12px;
    width: 12px;
    background-color: #95C1A6;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-circle {
    height: 16px;
    width: 16px;
    background-color: #DAE8DE;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline {
    font-size: 72px;
    color: white;

}

.headline span {
    color: #30B868;
}

.early-access p {
    color: white;
}

.nav-btn.vault {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 20px;
    border-radius: 6px;
    background-color: #4D9268;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.button-grp {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.transparent {
    background-color: transparent;
    height: 44px;
    width: 150px;
    border-radius: 5px;
    border-color:  white;
    color: white;

}


.structure h2 {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

.structure p {
    color: #627382;
    text-align: center;

}

.icon-color {
    background-color: #F95555;
    padding: 15px;
    border-radius: 50px;
}

.cards {
    display: flex;
    gap: 15px;
    margin: 0px auto;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 230px;
    height: 220px;
    /* border: 2px solid black; */
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    margin-top: 44px;
    text-align: center;
}

.card h3 {
    color: #001931;
    font-weight: 600;
    font-size: 20px;
}

.card,
.brain-text,
.ready-think p {
    color: #627382;
}


.solution {
    display: flex;
    margin: 100px 50px 0 50px;
    gap: 50px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.solution h3 {
    font-weight: bold;
    font-size: 48px;
    color: black;
}

.brain {
    height: 500px;
    width: 500px;
}

.brain-text {
    margin: auto 0;
}

.brain-text span {
    color: #469165;
}

.brain-idea p {
    color: black;
    display: flex;
}

.brain-text li {
    list-style-type: none;
}

.ready-think {
    background-color: #F7F6F2;
    width: auto;
    height: 299px;

    text-align: center;
    margin: 100px 50px 0 50px;
    border-radius: 9px;
    padding: 19px;
}

.ready-think h2 {
    font-weight: bold;
    font-size: 40px;
}

.footer {
    /* display: flex; */
    margin-top: 100px;
    background-color: #001931;
    padding: 3px 50px;
}

.social {
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: 0.5px solid;
    padding: 70px 0px;
}

.social-link {
    font-size: 25px;
    margin-right: 100px;
}

.social-icons {
    display: flex;
    gap: 19px;
    margin-top: 20px;
}

.footer p {
    color: white ;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}